[Unit]
Description=MQTT client python script for OPENHAB
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User=pi
ExecStart=/usr/bin/python3 /home/pi/SMOOL/mqtt_client.py


[Install]
WantedBy=multi-user.target
