[Unit]
Description=Manual control via buttons
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User=pi
ExecStart=/usr/bin/python /home/pi/SMOOL/manual_control/button_control.py


[Install]
WantedBy=multi-user.target
